{
  "name": "{{APP_NAME}}",
  "version": "0.1.0",
  "private": true,
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "preview": "vite preview",
    "test": "vitest"
  },
  "dependencies": {
    "@pulsar-framework/pulsar.dev": "^0.8.0"
  },
  "devDependencies": {
    "@pulsar-framework/vite-plugin": "^0.8.0",
    "@types/node": "^20.10.0",
    "typescript": "^5.3.3",
    "vite": "^5.0.8",
    "vitest": "^1.0.4"
  }
}
